/*   ---- ALL PAGES ----   */
* {
  margin: 0;
  padding: 0;
}
.header {
  display: flex;
  justify-content: center;
}
.header-github {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 25px;
}
.header-github a {
  text-decoration: none;
  color:white;
}
.header-github a:hover {
  color:orange;
  text-decoration: underline;
}
.header-buttons {
  margin: auto;
}
.header-buttons ul li {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  display: inline-block;
}
.header-buttons ul li a {
  text-decoration: none;
  color:white;
  font-size: 20px;
}
.header-buttons ul li a:hover {
  color:orange;
}
.body-banner {
  width:100%;
  height:50vh;
  background-image: url(images/myBanner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*   ---- INDEX.HTML ---- */
#body-home {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/myBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#home-page-text {
  text-align: center;
  color:white;
  margin: 10px;
}
#home-page-images {
  text-align: center;
}
#home-page-images ul li {
  margin-top: 50px;
  margin-left: 50px;
  display: inline-block;
  margin: 25px;
}

/*   ---- JAVASCRIPTS.HTML ---- */
#body-javascript {
  width: 100%;
  height: 335vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/myBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#javascript-page-text {
  text-align: center;
  color:white;
  margin:25px;
}
#javascript-programs {
  display: flex;
  justify-content: center;
  margin: 70px;
}
.program {
text-align: center;
font-size: 20px;
color:white;
margin: 25px;
}
.program:hover {
  font-size: 21px;
  color:orange
}

/*   ---- ABOUT.HTML ---- */
#body-about {
  width: 100%;
  height: 110vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/myBackground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#aboutme-information {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.information {
  text-align: center;
  font-size: 15px;
  color:white;
  margin: 25px;
  margin-left: 100px;
  }
  .information:hover {
    font-size: 16px;
    color:orange;
  }
  .information img {
    margin-top: 25px;
  }
  #atag {
    color:red;
  }
